In [ ]:
# Import necessary libraries
import numpy as np
import pandas as pd

In [ ]:
# Cargar los datos de los archivos CSV y Excel
df_vinos_caros = pd.read_csv('vinos_caros.csv')
df_vinos_asequibles = pd.read_excel('vinos_asequibles.xlsx')
df_productores = pd.read_csv('Mayores_productores_vino_mundiales.csv')

In [3]:
# Creo una función para obtener información de los DF

def exploracion_inicial(df, titulo_df):
    if not df.empty:
        print(f"Tenemos {df.shape[0]} filas y {df.shape[1]} columnas")
        print("-"*60)
        print(f"A continuación se presenta la exploración inicial de : \n\n {titulo_df} \n")
        print("-"*60)
        print("Primeras 5 filas:")
        print("-"*60)
        display(df.head())
        print("-"*60)   
        print("Otras 5 filas aleatorias")
        print("-"*60)
        display(df.sample(5))
        print("-"*60)
        print("Exploración de duplicados:")
        print(f"Existen {df.duplicated().sum()} duplicados")
        print("-"*60)
        nulos_por_columna = df.isnull().sum() 
        total_nulos = nulos_por_columna.sum()
        print("Revisión de nulos:")
        if total_nulos == 0:
            print(" No se encontraron valores nulos en el DataFrame.")
        else:
            print(f"Se encontraron {total_nulos} valores nulos en total. El desglose por columna es:")
            print(nulos_por_columna[nulos_por_columna > 0])
        print("-"*60)
        print(f"Info sobre las columas de {titulo_df}:\n")
        print("-"*60)
        df.info()
        print("-"*60)
        print("Las medias estadísticas por fila son las siguientes:")
        display(df.describe().T)
        print("-"*60)
    else:
        print("El dataframe está vacío")

In [ ]:
# Realizo la exploración inicial de los dataframes

exploracion_inicial(df_vinos_caros, "Vinos Caros")
print("-"*60)
exploracion_inicial(df_vinos_asequibles, "Vinos Asequibles")
print("-"*60)
exploracion_inicial(df_productores, "Mayores Productores de Vino Mundiales")

Tenemos 7500 filas y 11 columnas
------------------------------------------------------------
A continuación se presenta la exploración inicial de :

 Vinos Caros

------------------------------------------------------------
Primeras 5 filas:
------------------------------------------------------------

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,995.00,Toro Red,5.0,3.0
1,Artadi,Vina El Pison,2018,4.9,31,Espana,Vino de Espana,313.50,Tempranillo,4.0,2.0
2,Vega Sicilia,Unico,2009,4.8,1793,Espana,Ribera del Duero,324.95,Ribera Del Duero Red,5.0,3.0
3,Vega Sicilia,Unico,1999,4.8,1705,Espana,Ribera del Duero,692.96,Ribera Del Duero Red,5.0,3.0
4,Vega Sicilia,Unico,1996,4.8,1309,Espana,Ribera del Duero,778.06,Ribera Del Duero Red,5.0,3.0

------------------------------------------------------------
Otras 5 filas aleatorias
------------------------------------------------------------

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
2151,Enrique Mendoza,Santa Rosa,2017,4.2,420,Espana,Alicante,18.90,Red,4.0,3.0
4851,Enrique Mendoza,Santa Rosa,2017,4.2,420,Espana,Alicante,18.90,Red,4.0,3.0
7030,Imperial,Rioja Reserva,2004,4.2,417,Espana,Rioja,45.00,Rioja Red,4.0,3.0
4650,La Vicalanda,Reserva,2015,4.2,420,Espana,Rioja,17.50,Rioja Red,4.0,3.0
671,Marques de Vargas,Hacienda Pradolagar,2015,4.4,1326,Espana,Rioja,105.12,Rioja Red,4.0,3.0

------------------------------------------------------------
Exploración de duplicados:
Existen 5452 duplicados
------------------------------------------------------------
Revisión de nulos:
Se encontraron 2885 valores nulos en total. El desglose por columna es:
year          2
type        545
body       1169
acidity    1169
dtype: int64
------------------------------------------------------------
Info sobre las columas de Vinos Caros:

------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   winery       7500 non-null   object
 1   wine         7500 non-null   object
 2   year         7498 non-null   object
 3   rating       7500 non-null   float64
 4   num_reviews  7500 non-null   int64
 5   country      7500 non-null   object
 6   region       7500 non-null   object
 7   price        7500 non-null   float64
 8   type         6955 non-null   object
 9   body         6331 non-null   float64
 10  acidity      6331 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 644.7+ KB
------------------------------------------------------------
Las medias estadísticas por fila son las siguientes:

,count,mean,std,min,25%,50%,75%,max
rating,7500.0,4.254933,0.118029,4.20,4.2,4.20,4.20,4.90
num_reviews,7500.0,451.109067,723.001856,25.00,389.0,404.00,415.00,32624.00
price,7500.0,60.095822,150.356676,4.99,18.9,28.53,51.35,3119.08
body,6331.0,4.158427,0.583352,2.00,4.0,4.00,5.00,5.00
acidity,6331.0,2.946612,0.248202,1.00,3.0,3.00,3.00,3.00

------------------------------------------------------------
------------------------------------------------------------
Tenemos 2018 filas y 9 columnas
------------------------------------------------------------
A continuación se presenta la exploración inicial de :

 Vinos Asequibles

------------------------------------------------------------
Primeras 5 filas:
------------------------------------------------------------

,Winery,Year,Wine ID,Wine,Rating,num_review,price,Country,Region
0,3 Ases,2019,1587145,Roble 2019,3.9,45,8.25,España,Ribera del Duero
1,7 Magnífics,2018,5151267,Rebels de Batea Tinto 2018,3.7,254,9.72,España,Terra Alta
2,7 Magnífics,2019,5151267,Rebels de Batea Tinto 2019,3.5,39,9.75,España,Terra Alta
3,7 Magnífics,2020,3155589,El Senat del Montsant 2020,3.8,29,11.90,España,Montsant
4,8.0.1,N.V.,1393973,Edición Limitada N.V.,3.8,623,9.80,España,Cariñena

------------------------------------------------------------
Otras 5 filas aleatorias
------------------------------------------------------------

,Winery,Year,Wine ID,Wine,Rating,num_review,price,Country,Region
420,Bodegas Valdemar,2016,15487,Conde de Valdemar Crianza 2016,3.7,336,7.50,España,Rioja
1195,Las Moradas de San Martín,2018,1586637,Senda 2018,3.6,62,8.90,España,Madrid
434,Bodegas Virgen de Galir,2019,7419457,Maruxa Mencia 2019,3.7,235,6.85,España,Valdeorras
523,Canopy,2019,1952604,Castillo de Belarfonso Mentrida 2019,3.6,59,8.95,España,Méntrida
1820,Valderiz,2020,1155142,Valdehermoso Joven 2020,3.2,34,5.25,España,Ribera del Duero

------------------------------------------------------------
Exploración de duplicados:
Existen 0 duplicados
------------------------------------------------------------
Revisión de nulos:
 No se encontraron valores nulos en el DataFrame.
------------------------------------------------------------
Info sobre las columas de Vinos Asequibles:

------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2018 entries, 0 to 2017
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Winery      2018 non-null   object
 1   Year        2018 non-null   object
 2   Wine ID     2018 non-null   int64
 3   Wine        2018 non-null   object
 4   Rating      2018 non-null   float64
 5   num_review  2018 non-null   int64
 6   price       2018 non-null   float64
 7   Country     2018 non-null   object
 8   Region      2018 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 142.0+ KB
------------------------------------------------------------
Las medias estadísticas por fila son las siguientes:

,count,mean,std,min,25%,50%,75%,max
Wine ID,2018.0,2.759297e+06,2.274814e+06,1615.0,1205627.00,1724108.000,4310591.25,10246805.0
Rating,2018.0,3.694995e+00,2.225060e-01,2.4,3.60,3.700,3.80,4.4
num_review,2018.0,3.219306e+02,1.035124e+03,25.0,49.00,104.000,260.75,29389.0
price,2018.0,8.674073e+00,2.453832e+00,2.5,6.85,8.855,10.70,12.9

------------------------------------------------------------
------------------------------------------------------------
Tenemos 20 filas y 5 columnas
------------------------------------------------------------
A continuación se presenta la exploración inicial de :

 Mayores Productores de Vino Mundiales

------------------------------------------------------------
Primeras 5 filas:
------------------------------------------------------------

,Country,Vineyards (hectares),Wine Produced (million hectolitres),Global Exports,Av. Rating
0,France,"789,000",49.1,29.5,82.3
1,Italy,"702,000",54.8,19.6,81.1
2,Spain,"969,000",44.4,9.4,80.2
3,United States,"430,000",23.9,3.9,82.6
4,China,"875,000",9.3,1.0,69.5

------------------------------------------------------------
Otras 5 filas aleatorias
------------------------------------------------------------

,Country,Vineyards (hectares),Wine Produced (million hectolitres),Global Exports,Av. Rating
14,Greece,"106,000",2.2,0.3,79.7
2,Spain,"969,000",44.4,9.4,80.2
13,New Zealand,"39,000",3.0,3.2,80.9
1,Italy,"702,000",54.8,19.6,81.1
5,Chile,"212,000",12.9,5.3,78.6

------------------------------------------------------------
Exploración de duplicados:
Existen 0 duplicados
------------------------------------------------------------
Revisión de nulos:
 No se encontraron valores nulos en el DataFrame.
------------------------------------------------------------
Info sobre las columas de Mayores Productores de Vino Mundiales:

------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Country                              20 non-null     object
 1   Vineyards (hectares)                 20 non-null     object
 2   Wine Produced (million hectolitres)  20 non-null     float64
 3   Global Exports                       20 non-null     float64
 4   Av. Rating                           20 non-null     float64
dtypes: float64(3), object(2)
memory usage: 932.0+ bytes
------------------------------------------------------------
Las medias estadísticas por fila son las siguientes:

,count,mean,std,min,25%,50%,75%,max
Wine Produced (million hectolitres),20.0,13.4800,16.619570,0.50,2.950,7.70,13.30,54.8
Global Exports,20.0,4.4825,7.455853,0.02,0.300,2.15,4.25,29.5
Av. Rating,20.0,79.4450,2.699020,69.50,78.525,80.10,80.75,82.6

------------------------------------------------------------

In [ ]:
# Eliminamos duplicados en el DataFrame de vinos caros
df_vinos_caros.drop_duplicates(inplace=True)

In [ ]:
# Reviso nuevamente el DF de vinos caros tras eliminar duplicados
exploracion_inicial(df_vinos_caros, "Vinos Caros")

Tenemos 2048 filas y 11 columnas
------------------------------------------------------------
A continuación se presenta la exploración inicial de :

 Vinos Caros

------------------------------------------------------------
Primeras 5 filas:
------------------------------------------------------------

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,995.00,Toro Red,5.0,3.0
1,Artadi,Vina El Pison,2018,4.9,31,Espana,Vino de Espana,313.50,Tempranillo,4.0,2.0
2,Vega Sicilia,Unico,2009,4.8,1793,Espana,Ribera del Duero,324.95,Ribera Del Duero Red,5.0,3.0
3,Vega Sicilia,Unico,1999,4.8,1705,Espana,Ribera del Duero,692.96,Ribera Del Duero Red,5.0,3.0
4,Vega Sicilia,Unico,1996,4.8,1309,Espana,Ribera del Duero,778.06,Ribera Del Duero Red,5.0,3.0

------------------------------------------------------------
Otras 5 filas aleatorias
------------------------------------------------------------

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
780,Volver,Triga,2017,4.4,243,Espana,Alicante,29.90,Red,4.0,3.0
57,Vega Sicilia,Unico,2003,4.7,2419,Espana,Ribera del Duero,325.00,Ribera Del Duero Red,5.0,3.0
1781,Alvaro Domecq,1730 Amontillado,N.V.,4.3,29,Espana,Jerez Amontillado,34.65,Sherry,4.0,3.0
1953,Recaredo,Corpinnat Terrers Brut Nature,2016,4.2,611,Espana,Cava,21.80,Cava,2.0,3.0
676,Remirez de Ganuza,Rioja Reserva,2009,4.4,1172,Espana,Rioja,74.00,Rioja Red,4.0,3.0

------------------------------------------------------------
Exploración de duplicados:
Existen 0 duplicados
------------------------------------------------------------
Revisión de nulos:
Se encontraron 650 valores nulos en total. El desglose por columna es:
year         2
type       106
body       271
acidity    271
dtype: int64
------------------------------------------------------------
Info sobre las columas de Vinos Caros:

------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Index: 2048 entries, 0 to 6100
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   winery       2048 non-null   object
 1   wine         2048 non-null   object
 2   year         2046 non-null   object
 3   rating       2048 non-null   float64
 4   num_reviews  2048 non-null   int64
 5   country      2048 non-null   object
 6   region       2048 non-null   object
 7   price        2048 non-null   float64
 8   type         1942 non-null   object
 9   body         1777 non-null   float64
 10  acidity      1777 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 192.0+ KB
------------------------------------------------------------
Las medias estadísticas por fila son las siguientes:

,count,mean,std,min,25%,50%,75%,max
rating,2048.0,4.401123,0.147023,4.20,4.300000,4.400,4.5,4.90
num_reviews,2048.0,573.994629,1376.153171,25.00,58.000000,141.000,485.5,32624.00
price,2048.0,135.242194,272.178316,4.99,31.917947,53.625,110.0,3119.08
body,1777.0,4.258863,0.652836,2.00,4.000000,4.000,5.0,5.00
acidity,1777.0,2.921216,0.334713,1.00,3.000000,3.000,3.0,3.00

------------------------------------------------------------

In [8]:
df_vinos_caros.to_csv('vinos_caros_limpio.csv', index=False, encoding='utf-8', sep=',')
df_vinos_asequibles.to_csv('vinos_asequibles_limpio.csv', index=False, encoding='utf-8', sep=',')
df_productores.to_csv('mayores_productores_vino_mundiales_limpio.csv', index=False, encoding='utf-8', sep=',')